{% block left_navigation %}
<div class="side">
                    <div class="menu rounded5 boxed">
                        <ul class="drilldown">
                            <li><a href="#">Bedrijven</a></li>
                            <li>
                                <a href="#">Projecten</a>
                                <ul>
                                    <li><a href="#">Oger Reservering</a></li>
                                    <li><a href="#">GSS Empresa</a></li>
                                    <li><a href="#">Oger Incentives</a></li>
                                    <li><a href="#">Lalala Geld</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Taken</a></li>
                            <li><a href="#">Facturen</a></li>
                        </ul>
                    </div>
                    <div class="help rounded5 boxed">
                        <h1>lalala</h1>
                        <p>lalala</p>

                    </div>
                </div>
{% endblock %}