{% extends "::layout.html.twig" %}
 
    
   
  {% block body %}
<div class="wrapper rounded5 boxed">
          <div class="content dashboard">
            <div class="column w50">
              <div class="block">
                <h3>Activiteiten</h3>
                <ul>
                  <li><a href="#">Berjan Bruens</a> heeft iets geplaatst <span class="dt">12:45</span></li>
                  <li><a href="#">Berjan Bruens</a> heeft iets geplaatst <span class="dt">12:45</span></li>
                  <li><a href="#">Berjan Bruens</a> heeft iets geplaatst <span class="dt">12:45</span></li>
                  <li><a href="#">Berjan Bruens</a> heeft iets geplaatst <span class="dt">12:45</span></li>
                  <li><a href="#">Berjan Bruens</a> heeft iets geplaatst <span class="dt">12:45</span></li>
                  <li><a href="#">Berjan Bruens</a> heeft iets geplaatst <span class="dt">12:45</span></li>
                </ul>
                <a href="#" class="button rounded5">+ Activiteiten</a>
              </div>
              <div class="block">
                <h3>Aankomend</h3>
                <ul>
                  <li><a href="#">Factuur maand Augustus</a> <span class="dt">31-08-2011</span></li>
                  <li><a href="#">Factuur maand Augustus</a> <span class="dt">31-08-2011</span></li>
                  <li><a href="#">Factuur maand Augustus</a> <span class="dt">31-08-2011</span></li>
                  <li><a href="#">Factuur maand Augustus</a> <span class="dt">31-08-2011</span></li>
                  <li><a href="#">Factuur maand Augustus</a> <span class="dt">31-08-2011</span></li>
                  <li><a href="#">Factuur maand Augustus</a> <span class="dt">31-08-2011</span></li>
                </ul>
                <a href="#" class="button rounded5">+ Aankomend</a>
              </div>
            </div>
            <div class="column w50">
              
              <div class="block">
                <h3>Taken</h3>
                <ul>
                  <li class="pr05"><a href="#">Taak 1</a> <span class="dt">Berjan | 10-08</span></li>
                  <li class="pr85"><a href="#">Taak 1</a> <span class="dt">Berjan | 10-08</span></li>
                  <li class="pr40"><a href="#">Taak 1</a> <span class="dt">Berjan | 10-08</span></li>
                  <li class="pr60"><a href="#">Taak 1</a> <span class="dt">Berjan | 10-08</span></li>
                  <li class="pr20"><a href="#">Taak 1</a> <span class="dt">Berjan | 10-08</span></li>
                  <li class="pr55"><a href="#">Taak 1</a> <span class="dt">Berjan | 10-08</span></li>
                </ul>
                <a href="#" class="button rounded5">+ Taken</a>
              </div>
              <div class="block">
                <h3>Projecten</h3>
                <ul>
                  <li class="pr90"><a href="#">Oger Reserveringen</a> <span class="dt">12-09-2011</span></li>
                  <li class="pr40"><a href="#">Oger Reserveringen</a> <span class="dt">12-09-2011</span></li>
                  <li class="pr20"><a href="#">Oger Reserveringen</a> <span class="dt">12-09-2011</span></li>
                  <li class="pr55"><a href="#">Oger Reserveringen</a> <span class="dt">12-09-2011</span></li>
                  <li class="pr05"><a href="#">Oger Reserveringen</a> <span class="dt">12-09-2011</span></li>
                  <li class="pr15"><a href="#">Oger Reserveringen</a> <span class="dt">12-09-2011</span></li>
                </ul>
                <a href="#" class="button rounded5">+ Projecten</a>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
